In [132]:
import fecfile
import json

In [133]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [142]:
test = 'fec/20200201/1379847.fec'

In [143]:
mappings = fecfile.fecparser.mappings
types = fecfile.fecparser.types

In [144]:
types.keys()

dict_keys(['^f1[an]', '^(f1m$|f1m[a|n])', '^f13[an]', '(^f132)|(^f133)', '(^f2$)|(^f2[^4])', '(^f24$)|(^f24[an])', '^(f3[ant]|f3p$|(f3p[^s|3])|f3x$|f3x[ant]|f3z)', '^f3s', '^f4.*', '^f5[na]', '^f57', '(^f6$)|(^f6[an])', '^f65', '(^f8$)|(^f8[an])', '^f8ii$', '^f8iii$', '(^f9$)|(^f9[an])', '^f92', '^f93', '^f99', '^f10$', '^f105$', '^sa', '^sb', '^sc', '^sd', '^se', '^sf', '^si', '^sl'])

In [145]:
mappings['^sb'].keys()

dict_keys(['^P3.3|^P3.4', '^P3.2', '^(P2.6|P3.0|P3.1)', '^P2.4', '^(P1|P2.2|P2.3)', '^8.3|8.2|8.1|8.0', '^7.0|6.4', '^6.3|6.2', '^6.1', '^5.3', '^5.2|5.1', '^5.0', '^3|^2', '^1'])

In [146]:
t.readline()

'SA17A\x1cC00694455\x1c2455457\x1c2455457E\x1cSA17A\x1cIND\x1c\x1cA. Oyelaran\x1cAdedoyin\x1c\x1c\x1c\x1c10182 Welch Rd\x1c\x1cCorning\x1cNY\x1c148309593\x1cP2020\x1c\x1c20191104\x1c25.00\x1c250.00\x1c\x1cCorning\x1cEngineering Manager\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c\x1c* Earmarked Contribution: See Below\x1c\n'

In [147]:
z = set()
for name in ['form_type', 'filer_committee_id_number', 'committee_name', 'change_of_address', 'street_1', 'street_2', 'city', 'state', 'zip_code', 'activity_primary', 'activity_general', 'report_code', 'election_code', 'date_of_election', 'state_of_election', 'coverage_from_date', 'coverage_through_date', 'treasurer_last_name', 'treasurer_first_name', 'treasurer_middle_name', 'treasurer_prefix', 'treasurer_suffix', 'date_signed', 'col_a_cash_on_hand_beginning_period', 'col_a_total_receipts', 'col_a_subtotal', 'col_a_total_disbursements', 'col_a_cash_on_hand_close_of_period', 'col_a_debts_to', 'col_a_debts_by', 'col_a_expenditures_subject_to_limits', 'col_a_net_contributions', 'col_a_net_operating_expenditures', 'col_a_federal_funds', 'col_a_individuals_itemized', 'col_a_individuals_unitemized', 'col_a_individual_contribution_total', 'col_a_political_party_committees_receipts', 'col_a_other_political_committees_pacs', 'col_a_the_candidate', 'col_a_total_contributions', 'col_a_transfers_from_aff_other_party_cmttees', 'col_a_received_from_or_guaranteed_by_cand', 'col_a_other_loans', 'col_a_total_loans', 'col_a_operating', 'col_a_fundraising', 'col_a_legal_and_accounting', 'col_a_total_offsets_to_expenditures', 'col_a_other_receipts', 'col_a_total_receipts', 'col_a_operating_expenditures', 'col_a_transfers_to_other_authorized_committees', 'col_a_fundraising_disbursements', 'col_a_exempt_legal_accounting_disbursement', 'col_a_made_or_guaranteed_by_candidate', 'col_a_other_repayments', 'col_a_total_loan_repayments_made', 'col_a_individuals', 'col_a_political_party_committees_refunds', 'col_a_other_political_committees', 'col_a_total_contributions_refunds', 'col_a_other_disbursements', 'col_a_total_disbursements', 'col_a_items_on_hand_to_be_liquidated', 'col_a_alabama', 'col_a_alaska', 'col_a_arizona', 'col_a_arkansas', 'col_a_california', 'col_a_colorado', 'col_a_connecticut', 'col_a_delaware', 'col_a_dist_of_columbia', 'col_a_florida', 'col_a_georgia', 'col_a_hawaii', 'col_a_idaho', 'col_a_illinois', 'col_a_indiana', 'col_a_iowa', 'col_a_kansas', 'col_a_kentucky', 'col_a_louisiana', 'col_a_maine', 'col_a_maryland', 'col_a_massachusetts', 'col_a_michigan', 'col_a_minnesota', 'col_a_mississippi', 'col_a_missouri', 'col_a_montana', 'col_a_nebraska', 'col_a_nevada', 'col_a_new_hampshire', 'col_a_new_jersey', 'col_a_new_mexico', 'col_a_new_york', 'col_a_north_carolina', 'col_a_north_dakota', 'col_a_ohio', 'col_a_oklahoma', 'col_a_oregon', 'col_a_pennsylvania', 'col_a_rhode_island', 'col_a_south_carolina', 'col_a_south_dakota', 'col_a_tennessee', 'col_a_texas', 'col_a_utah', 'col_a_vermont', 'col_a_virginia', 'col_a_washington', 'col_a_west_virginia', 'col_a_wisconsin', 'col_a_wyoming', 'col_a_puerto_rico', 'col_a_guam', 'col_a_virgin_islands', 'col_a_totals', 'col_b_federal_funds', 'col_b_individuals_itemized', 'col_b_individuals_unitemized', 'col_b_individual_contribution_total', 'col_b_political_party_committees_receipts', 'col_b_other_political_committees_pacs', 'col_b_the_candidate', 'col_b_total_contributions_other_than_loans', 'col_b_transfers_from_aff_other_party_cmttees', 'col_b_received_from_or_guaranteed_by_cand', 'col_b_other_loans', 'col_b_total_loans', 'col_b_operating', 'col_b_fundraising', 'col_b_legal_and_accounting', 'col_b_total_offsets_to_operating_expenditures', 'col_b_other_receipts', 'col_b_total_receipts', 'col_b_operating_expenditures', 'col_b_transfers_to_other_authorized_committees', 'col_b_fundraising_disbursements', 'col_b_exempt_legal_accounting_disbursement', 'col_b_made_or_guaranteed_by_the_candidate', 'col_b_other_repayments', 'col_b_total_loan_repayments_made', 'col_b_individuals', 'col_b_political_party_committees_refunds', 'col_b_other_political_committees', 'col_b_total_contributions_refunds', 'col_b_other_disbursements', 'col_b_total_disbursements', 'col_b_alabama', 'col_b_alaska', 'col_b_arizona', 'col_b_arkansas', 'col_b_california', 'col_b_colorado', 'col_b_connecticut', 'col_b_delaware', 'col_b_dist_of_columbia', 'col_b_florida', 'col_b_georgia', 'col_b_hawaii', 'col_b_idaho', 'col_b_illinois', 'col_b_indiana', 'col_b_iowa', 'col_b_kansas', 'col_b_kentucky', 'col_b_louisiana', 'col_b_maine', 'col_b_maryland', 'col_b_massachusetts', 'col_b_michigan', 'col_b_minnesota', 'col_b_mississippi', 'col_b_missouri', 'col_b_montana', 'col_b_nebraska', 'col_b_nevada', 'col_b_new_hampshire', 'col_b_new_jersey', 'col_b_new_mexico', 'col_b_new_york', 'col_b_north_carolina', 'col_b_north_dakota', 'col_b_ohio', 'col_b_oklahoma', 'col_b_oregon', 'col_b_pennsylvania', 'col_b_rhode_island', 'col_b_south_carolina', 'col_b_south_dakota', 'col_b_tennessee', 'col_b_texas', 'col_b_utah', 'col_b_vermont', 'col_b_virginia', 'col_b_washington', 'col_b_west_virginia', 'col_b_wisconsin', 'col_b_wyoming', 'col_b_puerto_rico', 'col_b_guam', 'col_b_virgin_islands', 'col_b_totals']:
    if name in z:
        print(name)
    z.add(name)

col_a_total_receipts
col_a_total_disbursements

{'record_type': 'HDR',
 'ef_type': 'FEC',
 'fec_version': '8.3',
 'soft_name': 'NGP',
 'soft_ver': '8',
 'report_id': '',
 'report_number': '',
 'comment': '\n'}

defaultdict(_io.BytesIO,
            {b'F3PN': <_io.BytesIO at 0x7f9a63680950>,
             b'SA17A': <_io.BytesIO at 0x7f9a63680d10>,
             b'SA17C': <_io.BytesIO at 0x7f9a63680a10>,
             b'SA20A': <_io.BytesIO at 0x7f9a636809b0>,
             b'SB23': <_io.BytesIO at 0x7f9a63680890>,
             b'SB24': <_io.BytesIO at 0x7f9a63680830>,
             b'SB28A': <_io.BytesIO at 0x7f9a636808f0>,
             b'SB28C': <_io.BytesIO at 0x7f9a63543050>,
             b'SB29': <_io.BytesIO at 0x7f9a635430b0>,
             b'SD12': <_io.BytesIO at 0x7f9a63543770>})

In [150]:
for key in file.forms.keys():
    print(f"=================={key}===========")    
    key = key.decode("utf-8")
    try:
        frame = file.to_pandas(key)
        print (frame.head())
    except:
        continue

==================b'F3PN'===========
==================b'SA17A'===========
  form_type filer_committee_id_number transaction_id  \
0     SA17A                 C00694455        2388371
1     SA17A                 C00694455       2388371E
2     SA17A                 C00694455        2455457
3     SA17A                 C00694455       2455457E
4     SA17A                 C00694455        2518491

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                      2388371E                     SA17A         IND
1                           NaN                       NaN         PAC
2                      2455457E                     SA17A         IND
3                           NaN                       NaN         PAC
4                      2518491E                     SA17A         IND

  contributor_organization_name contributor_last_name contributor_first_name  \
0                           NaN           A. Oyelaran               Adedoyin
1                       ACTBLUE                   NaN                    NaN
2                           NaN           A. Oyelaran               Adedoyin
3                       ACTBLUE                   NaN                    NaN
4                           NaN           A. Oyelaran               Adedoyin

  contributor_middle_name  ... donor_candidate_district conduit_name  \
0                     NaN  ...                      NaN          NaN
1                     NaN  ...                      NaN          NaN
2                     NaN  ...                      NaN          NaN
3                     NaN  ...                      NaN          NaN
4                     NaN  ...                      NaN          NaN

  conduit_street1 conduit_street2 conduit_city conduit_state conduit_zip_code  \
0             NaN             NaN          NaN           NaN              NaN
1             NaN             NaN          NaN           NaN              NaN
2             NaN             NaN          NaN           NaN              NaN
3             NaN             NaN          NaN           NaN              NaN
4             NaN             NaN          NaN           NaN              NaN

  memo_code                              memo_text_description reference_code
0       NaN                * Earmarked Contribution: See Below            NaN
1         X  Note: Above Contribution earmarked through thi...            NaN
2       NaN                * Earmarked Contribution: See Below            NaN
3         X  Note: Above Contribution earmarked through thi...            NaN
4       NaN                * Earmarked Contribution: See Below            NaN

[5 rows x 45 columns]
==================b'SA17C'===========
  form_type filer_committee_id_number transaction_id  \
0     SA17C                 C00694455        2470642
1     SA17C                 C00694455        2526131
2     SA17C                 C00694455        2526132
3     SA17C                 C00694455        2472262
4     SA17C                 C00694455        2446427

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         COM
1                           NaN                       NaN         PAC
2                           NaN                       NaN         PAC
3                           NaN                       NaN         CCM
4                           NaN                       NaN         PAC

    contributor_organization_name contributor_last_name  \
0         Friends Of Kim Dubuclet                   NaN
1  Higher Heights For America PAC                   NaN
2  Higher Heights For America PAC                   NaN
3        Ken Russell For Congress                   NaN
4                        Sikh PAC                   NaN

  contributor_first_name contributor_middle_name  ...  \
0                    NaN                     NaN  ...
1                    NaN                     NaN  ...
2                    NaN                     NaN  ...
3                    NaN                     NaN  ...
4                    NaN                     NaN  ...

  donor_candidate_district conduit_name conduit_street1 conduit_street2  \
0                      NaN          NaN             NaN             NaN
1                      NaN          NaN             NaN             NaN
2                      NaN          NaN             NaN             NaN
3                       27          NaN             NaN             NaN
4                      NaN          NaN             NaN             NaN

  conduit_city conduit_state conduit_zip_code memo_code  \
0          NaN           NaN              NaN       NaN
1          NaN           NaN              NaN       NaN
2          NaN           NaN              NaN       NaN
3          NaN           NaN              NaN       NaN
4          NaN           NaN              NaN       NaN

                  memo_text_description reference_code
0                                   NaN            NaN
1  * In-Kind: Communications Staff Time            NaN
2        * In-Kind: Staff Time & Travel            NaN
3                                   NaN            NaN
4                                   NaN            NaN

[5 rows x 45 columns]
==================b'SA20A'===========
  form_type filer_committee_id_number transaction_id  \
0     SA20A                 C00694455        2516658
1     SA20A                 C00694455        2422956
2     SA20A                 C00694455        2489180
3     SA20A                 C00694455        2526088
4     SA20A                 C00694455        2526089

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         IND
1                           NaN                       NaN         ORG
2                           NaN                       NaN         ORG
3                           NaN                       NaN         ORG
4                           NaN                       NaN         ORG

  contributor_organization_name contributor_last_name contributor_first_name  \
0                           NaN               Abraham                Pavitra
1                Action Mailers                   NaN                    NaN
2                Action Mailers                   NaN                    NaN
3                           ADP                   NaN                    NaN
4                           ADP                   NaN                    NaN

  contributor_middle_name  ... donor_candidate_district conduit_name  \
0                       S  ...                      NaN          NaN
1                     NaN  ...                      NaN          NaN
2                     NaN  ...                      NaN          NaN
3                     NaN  ...                      NaN          NaN
4                     NaN  ...                      NaN          NaN

  conduit_street1 conduit_street2 conduit_city conduit_state conduit_zip_code  \
0             NaN             NaN          NaN           NaN              NaN
1             NaN             NaN          NaN           NaN              NaN
2             NaN             NaN          NaN           NaN              NaN
3             NaN             NaN          NaN           NaN              NaN
4             NaN             NaN          NaN           NaN              NaN

  memo_code memo_text_description reference_code
0       NaN         Insurance FMV            NaN
1       NaN        Postage Refund            NaN
2       NaN        Postage Refund            NaN
3       NaN  Payroll Taxes Refund            NaN
4       NaN  Payroll Taxes Refund            NaN

[5 rows x 45 columns]
==================b'SB23'===========
  form_type filer_committee_id_number transaction_id_number  \
0      SB23                 C00694455             500033087
1      SB23                 C00694455             500033088
2      SB23                 C00694455             500032743
3      SB23                 C00694455             500033090
4      SB23                 C00694455             500033091

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         ORG
1                           NaN                       NaN         ORG
2                           NaN                       NaN         ORG
3                           NaN                       NaN         ORG
4                           NaN                       NaN         ORG

  payee_organization_name payee_last_name payee_first_name payee_middle_name  \
0     1850 Elm Street LLC             NaN              NaN               NaN
1     1850 Elm Street LLC             NaN              NaN               NaN
2  23Rd Street Promotions             NaN              NaN               NaN
3        25 S Charles LLC             NaN              NaN               NaN
4        25 S Charles LLC             NaN              NaN               NaN

   ... beneficiary_candidate_district conduit_name conduit_street_1  \
0  ...                            NaN          NaN              NaN
1  ...                            NaN          NaN              NaN
2  ...                            NaN          NaN              NaN
3  ...                            NaN          NaN              NaN
4  ...                            NaN          NaN              NaN

  conduit_street_2 conduit_city conduit_state conduit_zip_code memo_code  \
0              NaN          NaN           NaN              NaN       NaN
1              NaN          NaN           NaN              NaN       NaN
2              NaN          NaN           NaN              NaN       NaN
3              NaN          NaN           NaN              NaN       NaN
4              NaN          NaN           NaN              NaN       NaN

  memo_text_description  \
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

  reference_to_si_or_sl_system_code_that_identifies_the_account
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 44 columns]
==================b'SB24'===========
  form_type filer_committee_id_number transaction_id_number  \
0      SB24                 C00694455             500033742
1      SB24                 C00694455             500038442

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         CCM
1                           NaN                       NaN         CCM

    payee_organization_name payee_last_name payee_first_name  \
0  Kamala Harris For Senate             NaN              NaN
1  Kamala Harris For Senate             NaN              NaN

  payee_middle_name  ... beneficiary_candidate_district conduit_name  \
0               NaN  ...                             00          NaN
1               NaN  ...                             00          NaN

  conduit_street_1 conduit_street_2 conduit_city conduit_state  \
0              NaN              NaN          NaN           NaN
1              NaN              NaN          NaN           NaN

  conduit_zip_code memo_code memo_text_description  \
0              NaN       NaN                   NaN
1              NaN       NaN                   NaN

  reference_to_si_or_sl_system_code_that_identifies_the_account
0                                                NaN
1                                                NaN

[2 rows x 44 columns]
==================b'SB28A'===========
  form_type filer_committee_id_number transaction_id_number  \
0     SB28A                 C00694455             500038125
1     SB28A                 C00694455             500038015
2     SB28A                 C00694455             500032153
3     SB28A                 C00694455             500037738
4     SB28A                 C00694455             500037921

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         IND
1                           NaN                       NaN         IND
2                           NaN                       NaN         IND
3                           NaN                       NaN         IND
4                           NaN                       NaN         IND

  payee_organization_name payee_last_name payee_first_name payee_middle_name  \
0                     NaN          Adcock             Beth               NaN
1                     NaN          Alston            Marie               NaN
2                     NaN         Ambuehl            Cindy               NaN
3                     NaN          Amburn          Kenneth               NaN
4                     NaN       Andasheva           Faroat               NaN

   ... beneficiary_candidate_district conduit_name conduit_street_1  \
0  ...                            NaN          NaN              NaN
1  ...                            NaN          NaN              NaN
2  ...                            NaN          NaN              NaN
3  ...                            NaN          NaN              NaN
4  ...                            NaN          NaN              NaN

  conduit_street_2 conduit_city conduit_state conduit_zip_code memo_code  \
0              NaN          NaN           NaN              NaN       NaN
1              NaN          NaN           NaN              NaN       NaN
2              NaN          NaN           NaN              NaN       NaN
3              NaN          NaN           NaN              NaN       NaN
4              NaN          NaN           NaN              NaN       NaN

  memo_text_description  \
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN

  reference_to_si_or_sl_system_code_that_identifies_the_account
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 44 columns]
==================b'SB28C'===========
  form_type filer_committee_id_number transaction_id_number  \
0     SB28C                 C00694455             500038287
1     SB28C                 C00694455             500038305

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         COM
1                           NaN                       NaN         COM

        payee_organization_name payee_last_name payee_first_name  \
0    Friends Of Elizabeth Doyle             NaN              NaN
1  Sarah Riggs Amico For Lt Gov             NaN              NaN

  payee_middle_name  ... beneficiary_candidate_district conduit_name  \
0               NaN  ...                            NaN          NaN
1               NaN  ...                            NaN          NaN

  conduit_street_1 conduit_street_2 conduit_city conduit_state  \
0              NaN              NaN          NaN           NaN
1              NaN              NaN          NaN           NaN

  conduit_zip_code memo_code memo_text_description  \
0              NaN       NaN                   NaN
1              NaN       NaN                   NaN

  reference_to_si_or_sl_system_code_that_identifies_the_account
0                                                NaN
1                                                NaN

[2 rows x 44 columns]
==================b'SB29'===========
  form_type filer_committee_id_number transaction_id_number  \
0      SB29                 C00694455             500033030
1      SB29                 C00694455             500033140
2      SB29                 C00694455             500033028
3      SB29                 C00694455             500033029
4      SB29                 C00694455             500033024

  back_reference_tran_id_number back_reference_sched_name entity_type  \
0                           NaN                       NaN         ORG
1                           NaN                       NaN         ORG
2                           NaN                       NaN         ORG
3                           NaN                       NaN         ORG
4                           NaN                       NaN         ORG

                   payee_organization_name payee_last_name payee_first_name  \
0                      Gentlemen By Choice             NaN              NaN
1  GOODWILL INDUSTRIES INTERNATIONAL, INC.             NaN              NaN
2  GOODWILL INDUSTRIES INTERNATIONAL, INC.             NaN              NaN
3  GOODWILL INDUSTRIES INTERNATIONAL, INC.             NaN              NaN
4                     Habitat For Humanity             NaN              NaN

  payee_middle_name  ... beneficiary_candidate_district conduit_name  \
0               NaN  ...                            NaN          NaN
1               NaN  ...                            NaN          NaN
2               NaN  ...                            NaN          NaN
3               NaN  ...                            NaN          NaN
4               NaN  ...                            NaN          NaN

  conduit_street_1 conduit_street_2 conduit_city conduit_state  \
0              NaN              NaN          NaN           NaN
1              NaN              NaN          NaN           NaN
2              NaN              NaN          NaN           NaN
3              NaN              NaN          NaN           NaN
4              NaN              NaN          NaN           NaN

  conduit_zip_code memo_code memo_text_description  \
0              NaN         X                     *
1              NaN         X                     *
2              NaN         X                     *
3              NaN         X                     *
4              NaN         X                     *

  reference_to_si_or_sl_system_code_that_identifies_the_account
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 44 columns]
==================b'SD12'===========
  form_type filer_committee_id_number transaction_id_number entity_type  \
0      SD12                 C00694455            1250000269         ORG
1      SD12                 C00694455            1250000294         ORG
2      SD12                 C00694455            1250000295         ORG
3      SD12                 C00694455            1250000280         ORG
4      SD12                 C00694455            1250000279         ORG

          creditor_organization_name creditor_last_name creditor_first_name  \
0          Chapman Cubine And Hussey                NaN                 NaN
1        Bainbridge Data & Analytics                NaN                 NaN
2  Advanced Birdhouse Technology LLC                NaN                 NaN
3                    Garner Printing                NaN                 NaN
4                    Garner Printing                NaN                 NaN

  creditor_middle_name creditor_prefix creditor_suffix    creditor_street_1  \
0                  NaN             NaN             NaN       2000 15Th St N
1                  NaN             NaN             NaN  3828 Georgia Ave NW
2                  NaN             NaN             NaN            8 The Grn
3                  NaN             NaN             NaN     4101 Winfield Rd
4                  NaN             NaN             NaN     4101 Winfield Rd

  creditor_street_2 creditor_city creditor_state creditor_zip_code  \

In [55]:
forms.keys()

pd.read_csv(forms[b'SA17A'], sep="\x1c")

/Users/bschmidt/miniconda3/envs/htrc/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,C00694455,2388371,2388371E,SA17A,IND,Unnamed: 5,A. Oyelaran,Adedoyin,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,* Earmarked Contribution: See Below,Unnamed: 43
0,C00694455,2388371E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
1,C00694455,2455457,2455457E,SA17A,IND,NaN,A. Oyelaran,Adedoyin,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
2,C00694455,2455457E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
3,C00694455,2518491,2518491E,SA17A,IND,NaN,A. Oyelaran,Adedoyin,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
4,C00694455,2518491E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83193,C00694455,2517769,NaN,NaN,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83194,C00694455,2489803,2489803E,SA17A,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
83195,C00694455,2489803E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
83196,C00694455,2510259,2510259E,SA17A,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
83197,C00694455,2510259E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN

In [43]:
j = forms[b'SA20A'].join("")

AttributeError: '_io.BytesIO' object has no attribute 'join'

In [31]:
import io
d = io.BytesIO()

In [34]:
d.write(b"foo")
d.write(b"bar")

3

In [36]:
d.seek(0)

0

b''

In [39]:
import pandas as pd

/Users/bschmidt/miniconda3/envs/htrc/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,C00694455,2388371,2388371E,SA17A,IND,Unnamed: 5,A. Oyelaran,Adedoyin,Unnamed: 8,Unnamed: 9,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,* Earmarked Contribution: See Below,Unnamed: 43
0,C00694455,2388371E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
1,C00694455,2455457,2455457E,SA17A,IND,NaN,A. Oyelaran,Adedoyin,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
2,C00694455,2455457E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
3,C00694455,2518491,2518491E,SA17A,IND,NaN,A. Oyelaran,Adedoyin,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
4,C00694455,2518491E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83193,C00694455,2517769,NaN,NaN,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83194,C00694455,2489803,2489803E,SA17A,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
83195,C00694455,2489803E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN
83196,C00694455,2510259,2510259E,SA17A,IND,NaN,Zysermann,Noemie,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* Earmarked Contribution: See Below,NaN
83197,C00694455,2510259E,NaN,NaN,PAC,ACTBLUE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X,Note: Above Contribution earmarked through thi...,NaN